{% extends 'base.html.twig' %}

{% block title %} 
    {{ course.coursename }}
 {% endblock %}

{% block stylesheets %}
  

    <style>

        body {
            background: #EEEEEE;
        }
        .view a {
            color: royalblue;
            text-decoration: none;
        }
        table {
            font-size: 15px;
        }
        *{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
  
  body{
    background: #fff;
  }
  /********** HEADER **********/
  .wrapper .header{
    z-index: 1;
    background: #A41034;
    position: fixed;
    width: calc(100% - 0%);
    height: 70px;
    display: flex;
    top: 0;
  }
  .wrapper .header .header-menu{
    width: calc(100% - 0%);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  .wrapper .header .header-menu .title{
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
  }
  /********** SIDEBAR **********/
  .wrapper .sidebar{
    z-index: 1;
    background: #FFF;
    box-shadow: 10px 10px 15px grey;
    position: fixed;
    top: 70px;
    width: 180px;
    height: calc(100% - 9%);
    transition: 0.3s;
    transition-property: width;
    overflow-y: auto;
  }
  .wrapper .sidebar .sidebar-menu{
    overflow: hidden;
  }
  .wrapper .sidebar .sidebar-menu .profile img{
    margin: 20px 0;
    width: 90px;
    height: 90px;
  }
  .wrapper .sidebar .sidebar-menu .profile p{
    color: grey;
    font-weight: 650;
  }
  .wrapper .sidebar .sidebar-menu .item{
    width: 250px;
    overflow: hidden;
    font-size: 14px;
  }
  .wrapper .sidebar .sidebar-menu .item a{
    text-decoration: none;
  }
  .wrapper .sidebar .sidebar-menu .item .menu-btn{
    display: block;
    color: #000;
    position: relative;
    padding: 10px 20px;
    transition: 0.3s;
    transition-property: color;
  }
  .wrapper .sidebar .sidebar-menu .item button {
      border: none;
      background: none;
  }
  .wrapper .sidebar .sidebar-menu .item button:hover {
      color: #FFF;
  }
  /********** SIDEBAR BUTTONS **********/
  .wrapper .sidebar .sidebar-menu .item .menu-btn span{
      padding: 20px;
      background: #A41034;
      border-radius: 2em;
      color: #fff;
  }
  .wrapper .sidebar .sidebar-menu .item .menu-btn span:hover{
      background: #C2133D;
  }
  .wrapper .sidebar .sidebar-menu .item .menu-btn:hover{
      background: #C2133D;
      color: #FFF;
      text-decoration: none;
  }
  .wrapper .sidebar .sidebar-menu .item .menu-btn i{
      margin-right: 20px;
  }
  /********** LOGOUT MODAL **********/
  .modal .modal-dialog .modal-content .modal-footer button {
      font-size: 14px;
  }
  .modal .modal-dialog .modal-content .modal-footer button a {
      text-decoration: none;
      color: #FFF;
  }
  
  
  
  /********** MAIN CONTAINER **********/
  .wrapper .content{
    width: (100% - 250px);
    margin-top: 70px;
    margin-left: 220px;
    padding: 15px;
    background-size: cover;
    height: 100vh;
    transition: 0.3s;
  }
    </style>
{% endblock %}

{% block body %}
<body>

    <!--wrapper start-->
    <div class="wrapper">
        <!--header menu start-->
        <div class="header">
            <div class="header-menu">
                <div class="title">Educa Academy</div>
            </div>
        </div>
        <!--header menu end-->
        <!--sidebar start-->
          
        <!--sidebar end-->
        <!--main container start-->
        <div class="content">
        <h1>{{ course.coursename}}</h1>
         
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Create Task    
        </button>

         

         <h5>Active Task</h5>
             <table class="table table-bordered">
        <tr>
                    <th>Task Title</th>
                    <th>Task Type</th>
                    <th>File</th>
                    <th>Duration:</th>
                    
                </tr>
          {% for s in allActivities %}
                <tbody>
                    <tr>
                       
                    </tr>
                </tbody>
                {% endfor %}
    </table>
         <h5>Past Task</h5>
             <table class="table table-bordered">
        <tr>
                    <th>Task Title</th>
                    <th>Task Type</th>
                    <th>File</th>
                    <th>Duration:</th>
                    
                </tr>
          {% for s in allActivities %}
                <tbody>
                    <tr>
                       
                    </tr>
                </tbody>
                {% endfor %}
    </table>


      

          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Create Task</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body container">
                
                  <label
                    
                  > Task Title</label>
                  <input type="text" />
                  <label> Description</label>
                  <input type="text" />
                  <label> Task type</label>
                  <select>
                    <option>Essay</option>
                    <option>Quiz</option>
                    <option>Activity</option>
                  </select>
                  <input type="file"/>


            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>




        </div>
  

        <!--main container end-->
    </div>
    <!--wrapper end-->

    
    </div>
    <script>
    document.onload = function(){
      var myModal = document.getElementById('myModal');
      let doc = document.getElementById("createactivity");
      doc.addEventListener('click', function() {
          
          $('#myModal').modal('show');
          console.log("getclick");
      });
      
      }
    
    

    
    </script>
</body>
{% endblock %}
