{% extends 'base.html.twig' %}


{% block body %}
<div class="wrapper">
 <div class="header">
            <div class="header-menu">
                <div class="title">Educa Academy</div>
            </div>
        </div>

        <div class="content">
        
        <h1>CLASSROOMS</h2>

          {% for s in all %}
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{s.course}}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    </div>
                {% endfor %}


        </div>
</div>
    
{% endblock %}