{% extends 'base.html.twig' %}


{% block body %}
<div class="wrapper">
 <div class="header">
            <div class="header-menu">
                <div class="title">Educa Academy</div>
            </div>
        </div>

        <div class="content">
        
        <label>MY GRADES</label>
        </div>
</div>
    
{% endblock %}